<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringSecurity-03-CustomLoginForm:war exploded">
    <output-path>$PROJECT_DIR$/target/SpringSecurity1-demo</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>SpringSecurity-03-CustomLoginForm</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringSecurity-03-CustomLoginForm" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.3.8" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.3.8" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.3.8" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.3.8" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.3.8" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.3.8" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.3.8" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.3.8" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-web:5.5.1" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-core:5.5.1" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-crypto:5.5.1" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-config:5.5.1" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-taglibs:5.5.1" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-acl:5.5.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.3.8" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.3.8" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:3.1.0" />
          <element id="library" level="project" name="Maven: javax.servlet.jsp:javax.servlet.jsp-api:2.3.1" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: javax.xml.bind:jaxb-api:2.3.0" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/SpringSecurity1-demo/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="SpringSecurity-03-CustomLoginForm/web/Web" />
    </root>
  </artifact>
</component>