<component name="ArtifactManager">
  <artifact type="war" name="SpringSecurity-03-CustomLoginForm:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringSecurity-03-CustomLoginForm</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringSecurity1-demo.war">
      <element id="artifact" artifact-name="SpringSecurity-03-CustomLoginForm:war exploded" />
    </root>
  </artifact>
</component>